.contas{
	display: flex;
	margin: 10px auto;
	text-align: justify;
}

.tabuada {
	margin: 5px auto;
	border-radius: 10px;
	padding: 5px;
}
ul{
    list-style: none;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    padding-bottom:0px; padding-left:20px; padding-right:20px;
    overflow: hidden;
}
#container div{
    margin: 10px;
    border-radius: 20px;
    text-align: start;
}
li{
    border-radius: 10px;
    background-color: white;
}
p{
    padding:5px;
}
h1{
    margin-left: 30px;
}